{% extends "network/layout.html" %} {% block body %}
<h1>{{profile.username}}</h1>

{% if user.is_authenticated and profile.id != user.id%}
  {% if not is_followed %}
    <a href="{% url 'follow' profile.id %}">Follow</a>
  {% else %}
  <a href="{% url 'unfollow' profile.id %}">Unfollow</a>
  {% endif %}
{% endif %} 

Followers: {{ followers }}
Following: {{ following }}

{% for post in posts %}
<div>
  <a
    href="{% url 'profile' post.entity.user.id %}"
    class="text-decoration-none link-dark fw-bold fs-5"
    >{{post.entity.user}}</a
  >
  <br />
  <a href="#">Edit</a>
  <div>{{post.entity.text}}</div>
  <div class="text-muted">{{post.entity.date}}</div>
  {% if not post.is_liked %}
  <div class="like-btn d-inline" data-id="{{post.entity.id}}" data-like="like">
    <i class="bi bi-heart"></i>
    <div class="d-inline">{{post.entity.likes.count}}</div>
  </div>
  {%else%}
  <div
    class="like-btn d-inline"
    data-id="{{post.entity.id}}"
    data-like="unlike"
  >
    <i class="bi bi-heart-fill text-danger"></i>
    <div class="d-inline">{{post.entity.likes.count}}</div>
  </div>
  {%endif%}
  <br />
  <a href="#">Comment</a>
  <hr />
</div>
{% endfor %} {% endblock %}
